
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
            <h2>Nicole Pearson</h2>
            <p><strong class="card-category">Email: </strong> nicole.pearson@outlook.com </p>
            <p><strong class="card-category">Phone: </strong> +1543 879 8932 </p>
            <p><strong class="card-category">Submissions: </strong> 5 </p>
        </div>
      </div>
    </div>
  </div>
</div>
                    
  