<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">Questionnaire</h4>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                      <div class="mat-elevation-z8">
                          <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
                              
                              <!-- Position Column -->
                              <ng-container matColumnDef="ID">
                                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>>
                                <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>>
                              </ng-container>
 
                              <!-- Weight Column -->
                              <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>>
                              </ng-container>
                            
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="symbol">
                                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>>
                                <mat-cell *matCellDef="let element">
                                  <a data-toggle="modal" data-target="#view-questionnaire"><i class="material-icons edit">pageview</i></a>
                                  <a (click)="deleteuser(element._id);"><i class="material-icons delete">get_app</i></a>
                                </mat-cell>>
                              </ng-container>
                            
                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
                              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
                            
                          </mat-table>
                        
                          <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                          <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  